.BetterPromptContainer {
    display: grid;
    position: relative;

    & .BetterPrompt {
        display: grid;
        gap: 5px;
        position: relative;
        background: #1f2937;
        border: 1px solid #374151;
        border-radius: 5px;
        padding: .5em;
        resize: vertical;
        overflow: auto;
        grid-template-rows: min-content auto min-content min-content;
        width: 100%;
        min-width: min(160px, 100%);

        & .Button {
            font-size: 15px;
            padding: 0 5px;
            background: #4b5563;
            height: 100%;
            border-radius: 5px;
            user-select: none;
            cursor: pointer;

            &.Mute {
                height: 100%;
                display: grid;
                place-items: center;
            }
        }

        & .Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ffffff3d;
            padding: .5em;

            & .title {
                color: white;
                font-weight: bold;
                font-size: 1.1em;
            }

            & .RightSide {
                display: flex;
                gap: 5px;
            }
        }

        & .NodeField {
            border: 1px solid #ffffff3d;
            padding: 10px 5px;
            border-radius: 13px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            overflow-y: scroll;
        }

        & .EditorFooter {
            display: flex;
            padding: 0 .5em;
            gap: 5px;
            justify-content: space-between;

            >.leftSide {
                display: flex;
                gap: 5px;
                height: max-content;
            }

            >.rightSide {
                display: flex;
                gap: 5px;
            }

            & .Compose {
                display: block;
                padding: 0.2em 0.6em;
                background: orange;
                color: white;
                border-radius: 5px;
                text-align: center;
                cursor: pointer;
                font-size: 1.5em;
            }
        }

        & .ExtraFooter {
            display: flex;
            padding: 0 .5em;
            gap: 5px;
            overflow-x: scroll;

            >.Button.Resolution.active {
                background: orange;
            }

            >.Separator {
                border-left: 1px solid #ffffff3d;
                height: 100%;
            }
        }

        /* NODE */

        .Node {
            border: 1px solid #ffffff40;
            padding: 1px;
            border-radius: 8px;
            display: flex;
            gap: 5px;
            height: min-content;
            position: relative;
            align-items: center;

            & .FloatingButtons {
                position: absolute;
                top: 0;
                width: 20%;
                height: 0;
                font-size: 8px;
                opacity: 0;
                display: grid;

                &>div {
                    position: absolute;
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: max-content;
                    left: 30px;
                    top: -8px;
                    align-content: space-between;
                    height: 100%;

                    &>label {
                        padding: 0px 2px;
                        line-height: 7px;
                        font-size: 10px;
                        white-space: nowrap;
                    }

                    & .Button {
                        padding: 0px 7px;
                        line-height: 7px;
                        background-color: transparent;
                        cursor: copy;
                        font-size: 10px;
                        white-space: nowrap;
                        opacity: .8;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            &:hover>.FloatingButtons {
                opacity: 1;
            }

            &>.Controls {
                user-select: none;
                display: flex;
                gap: 1px;
                align-items: stretch;
                flex-wrap: wrap;
                opacity: 0.6;
                transition: opacity 0.2s;
                height: auto;
                width: min-content;

                &:hover {
                    opacity: 1;
                }

                &>.Sort {
                    display: flex;
                    gap: 1px;
                    align-items: center;
                    height: auto;
                }

                & .Button {
                    text-align: center;
                    font-size: 9px;
                    padding: 0 2px;
                    background: #4b5563;
                    height: 13px;
                    min-width: 20px;
                    border-radius: 6px;
                }

                & .EyeIcon {
                    width: .9em;
                    height: .9em;
                }

            }

            &>.NodeArea {
                flex-grow: 1;

                &>.BasicText {
                    background: unset;
                    border-radius: 5px;
                    min-height: 1em;
                    width: 100%;
                    color: white;
                    padding: 5px;
                }

                &>.Group {

                    &>.AddNode {
                        display: flex;
                        gap: 2px;
                        padding: 2px;

                        >.Button {
                            font-size: 9px;
                        }
                    }
                }

                &>.TagsNodeContainer {
                    display: flex;
                    gap: 5px;

                    &>.TagsNode {
                        display: flex;
                        gap: 3px;

                        &>.Tag {
                            background: #4b5563;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            border-radius: 5px;

                            &.LORA {
                                background: #751d49;
                            }

                            &>.Remove {
                                font-size: 13px;
                                height: max-content;
                                cursor: pointer;
                                user-select: none;
                                color: darkgrey;
                                padding: 0 0.1em;

                                &:hover {
                                    color: white;
                                }
                            }

                            &>.AutoFitInput input {
                                background: transparent;
                                color: white;
                                border: none;
                                width: 100%;
                                height: 100%;
                                border-radius: 5px;
                            }

                            &>.AutoFitInput span,
                            &>.AutoFitInput input {
                                font-size: 14px;
                            }

                        }

                    }
                }

                &>.Options {
                    display: flex;
                    gap: 5px;

                    & label {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                    }

                    & input[type="radio"] {
                        background-color: #232739;
                        border-radius: 100%;
                    }
                }

            }


        }
    }

    .AutoFitInput {
        position: relative;
    }

    .AutoFitInput input,
    .AutoFitInput span {
        white-space: pre;
        padding: 0 .2em;
    }

    .AutoFitInput input {
        position: absolute;
        inset: 0;
    }

    .AutoFitInput span {
        opacity: 0;
        position: relative;
    }

}


.ResolutionPicker {
    display: flex;
    padding: 0 .5em;
    gap: 2px 5px;
    overflow-x: scroll;
    flex-wrap: wrap;

    & .Button {
        font-size: 15px;
        padding: 0 5px;
        background: #4b5563;
        height: 100%;
        border-radius: 5px;
        user-select: none;
        cursor: pointer;
    }

    >.Button.Resolution.active {
        background: orange;
    }

    >.Separator {
        border-left: 2px solid #ffffff14;
        height: auto;
    }

    >.Newline {
        flex-basis: 100%;
        height: 0;
    }
}